<h2>Cistell de compra</h2>
<section>

    @if(products.length == 0) {
    <p class="empty-cart">No hi ha productes al cistell</p>
    }
    @else {
    <table>
        <tr>
            <th>PRODUCTE</th>
            <th></th>
            <th>PREU</th>
            <th>CUANTITAT</th>
            <th>TOTAL</th>
        </tr>
        @for(item of products; track item.id) {
        <tr>
            <td><img src="{{item.imagen}}" alt="" srcset=""></td>
            <td>{{item.nombre}}</td>
            <td>{{item.precio}} €</td>
            <td>
                <input type="number" min="0" [(ngModel)]="products[$index].cantidad"
                    (input)="updateQuantity($index, item.cantidad)">
            </td>
            <td>{{+item.precio * item.cantidad | number:'1.2-2'}}</td>
        </tr>
        }
    </table>
    <article class="resumen">
        <p>{{ getTotalQuantity() }} articulos --> {{ getTotalPrice() }}€</p>
        <p>Descuento(s) --> - 7,99€</p>
        <p>Transporte --> Gratis</p>
        <p>TOTAL --> {{ (getTotalPrice() - 7.99) | number:'1.2-2' }}€</p>
        <div>
            <button (click)="registrarInteraccion()">Fer pagament</button>
        </div>
    </article>
    }
</section>