<!-- product-detail.component.html -->

@if(product) {
<h2 class="title">{{product.nombre}}</h2>
<div class="detalles">
    <img [src]="product.imagen" [alt]="product.nombre" />
    <h2>{{product.nombre}}</h2>
    <p>{{product.descripcion}}</p>
    <p>{{product.precio}}</p>
    <div class="buttons">
        <div class="counter">
            <button (click)="decrement()" [disabled]="count === 0">-</button>
            <span>{{ count }}</span>
            <button (click)="increment()">+</button>
        </div>

        <button class="añadirCarrito" (click)="anadirAlCarrito()">Añadir al carrito</button>
    </div>
</div>
}
@else {
<div>
    <p>No se han recibido datos del producto.</p>
</div>
}