<section>
    <form class="form">
        <h2 class="title">Contáctenos</h2>
        <label for="">
            <p>Nombre</p>
            <input type="text" placeholder="Nombre">
        </label>

        <label for="">
            <p>Teléfono</p>
            <input type="text" placeholder="Teléfono">
        </label>

        <label for="">
            <p>Email</p>
            <input type="email" placeholder="Email">
        </label>

        <label for="">
            <p>Asunto</p>
            <input type="text" placeholder="Asunto">
        </label>

        <label for="">
            <p>Fecha</p>
            <input type="date" placeholder="Fecha">
        </label>

        <label for="">
            <p>Observación</p>
            <textarea name="Observación" id="" cols="30" rows="10"></textarea>
        </label>

        <button type="submit">Enviar</button>
    </form>
    <article class="info">
        <h2>Contactes</h2>
        <p>insanocomputer&#64;gmail.com</p>
        <p>+34 584-241-429</p>
    </article>
</section>