<section>
    <form class="form" (ngSubmit)="onSubmit()" #contactForm="ngForm">
        <h2 class="title">Contáctenos</h2>
        <label>
            <p>Nombre</p>
            <input type="text" [(ngModel)]="contactData.nombre" name="nombre" placeholder="Nombre" required>
        </label>
        <label>
            <p>Teléfono</p>
            <input type="text" [(ngModel)]="contactData.telefono" name="telefono" placeholder="Teléfono" required>
        </label>
        <label>
            <p>Email</p>
            <input type="email" [(ngModel)]="contactData.email" name="email" placeholder="Email" required>
        </label>
        <label>
            <p>Asunto</p>
            <input type="text" [(ngModel)]="contactData.asunto" name="asunto" placeholder="Asunto" required>
        </label>
        <label>
            <p>Fecha</p>
            <input type="date" [(ngModel)]="contactData.fecha" name="fecha" placeholder="Fecha" required>
        </label>
        <label>
            <p>Observación</p>
            <textarea name="observacion" [(ngModel)]="contactData.observacion" cols="30" rows="10" required></textarea>
        </label>
        <button type="submit" [disabled]="!contactForm.form.valid">Enviar</button>
    </form>

    <article class="info">
        <h2>Contactes</h2>
        <p>insanocomputer&#64;gmail.com</p>
        <p>{{telefono}}</p>
    </article>
</section>