<header>
    <img src="../assets/logo-proyecto.png">

    <div class="todoheader">
        <div class="buscador">
            <button class="boton-buscar" type="submit" routerLink="buscador">Buscar</button>
        </div>
        <div class="botonesnavegacion">
            <button class="botonav" routerLink="">Inicio</button>
            @if(this.authService.loggedInUser == null){
            <button class="botonav" routerLink="register">Registro</button>
            <button class="botonav" routerLink="login">Login</button>
            }
            @if(this.authService.loggedInUser != null) {
            <button class="botonav" (click)="logout()">Logout</button>
            }

            <button class="botonav" routerLink="nosotros">Sobre Nosotros</button>
            <button class="botonav" routerLink="contacto">Contactanos</button>
        </div>
        <div class="carrito" routerLink="carrito">
            <img src="../assets/Carrito.png">
        </div>
    </div>
</header>

<router-outlet></router-outlet>

<footer>
    <div class="cotenidofooter">
        <div class="section-izquierda">
            <h2 class="enlaces">Enlaces de interés</h2>
            <ul class="enlaces">
                <li><a routerLink="">Inicio</a></li>
                <li><a routerLink="nosotros">Sobre Nosotros</a></li>
                <li><a routerLink="contacto">Contáctanos</a></li>
            </ul>
            <h3 class="enlaces">Contactanos</h3>
            <ul class="enlaces">
                <li>insanocomputerinsano.com</li>
                <li>+34 689 921 512</li>
            </ul>
        </div>
        <div class="section-derecha">
            <h2>Visita nuestras redes sociales</h2>
            <div class="social-icons">
                <a href="#"><img src="../assets/logo_twitter.jpeg"></a>
                <a href="#"><img src="../assets/logo_instagram.jpg"></a>
                <a href="#"><img src="../assets/logo_facebook.png"></a>
            </div>
        </div>
    </div>
</footer>