header {
    background-color: black;
    color: white;
    padding: 10px;
}

.todoheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buscador {
    display: flex;
}

.buscador input[type="text"] {
    padding: 5px;
    margin-right: 5px;
    border-radius: 10px;
    border: none;
    width: 220px;
    height: 20px;
}

.buscador button {
    padding: 5px 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    margin-right: 300px;
}

.botonesnavegacion button {
    padding: 5px 10px;
    border: none;
    background-color: white;
    color: black;
    border-radius: 12px;
    cursor: pointer;
}

.botonav{
    width: 130px;
    height: 30px;
}

.botonesnavegacion button + button {
    margin-left: 45px;
}

.botonesnavegacion button a {
    color: black;
    text-decoration: none;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.contenidomain {
    display: flex;
    width: 2000px;
    max-width: 2000px;
    height: 400px;
}

.mitadfondo {
    flex: 1;
    /*background-image: url('../assets/fondo.png');*/
    background-size: 700px 400px;
    background-position: center;
}

.mitadblanco {
    flex: 1;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    margin-bottom: 20px;
    margin-right: 35px;
}

.logo img {
    width: 100px; /* Ajusta el tamaño del logo según sea necesario */
}

.login-section {
    text-align: center;
}

.login-section h2 {
    margin-bottom: 20px;
}

.login-section form {
    width: 80%;
}

.login-section form div {
    display: flex;
}

.titulologin{
    margin-right: 42px;
}

.login-section label {
    display: block;
    margin-bottom: 5px;
}

.login-section input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.login-section p {
    margin-top: 10px;
    font-size: 14px;
}

.login-section a {
    color: #769DFF;
}

button {
    background-color: #769DFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #5a78cc;
}

.cotenidofooter {
    display: flex;
    justify-content: space-between;
}

.section-izquierda,
.section-derecha {
    flex: 1;
    color: white; /* Color de letra blanco */
    background-color: black;
}

.footer {
    background-color: black; /* Fondo negro */
}
.enlaces{
    margin-left: 20px;
}

.section-izquierda h2,
.section-derecha h2 {
    margin-bottom: 10px;
}

.section-izquierda ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.section-izquierda ul li {
    margin-bottom: 5px;
}

.section-izquierda ul li a {
    color: white;
    text-decoration: none;
}

.section-izquierda h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
body{
    margin: 0;
    padding: 0;
}
.section-derecha .social-icons {
    display: flex;
}

.section-derecha .social-icons a {
    margin-right: 10px;
}