<section>
    <app-info-persona name="Andrés Martín"
        description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur atque unde cum id mollitia hic debitis, tempore provident ea saepe!"
        urlImage="../assets/img-developer-proyecto.png"></app-info-persona>
    <app-info-persona name="Javier García"
        description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur atque unde cum id mollitia hic debitis, tempore provident ea saepe!"
        urlImage="../assets/img-developer-proyecto.png"></app-info-persona>
    <app-info-persona name="Laura Sánchez"
        description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur atque unde cum id mollitia hic debitis, tempore provident ea saepe!"
        urlImage="../assets/img-developer-proyecto.png"></app-info-persona>
    <app-info-persona name="Carla Martinez"
        description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur atque unde cum id mollitia hic debitis, tempore provident ea saepe!"
        urlImage="../assets/img-developer-proyecto.png"></app-info-persona>
</section>
<section class="description">
    <h2>SOBRE INSANO COMPUTER</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam nemo maiores reiciendis expedita sed
        doloremque eveniet iusto exercitationem! Placeat asperiores accusantium nemo fugiat possimus. Consequatur eos
        cumque vitae, ratione odio nisi impedit dolorem nemo adipisci ipsum? Consequatur officiis id recusandae
        corporis, laborum qui, dicta consectetur enim, doloribus tenetur est quos.</p>
</section>