<h2 class="title">SOBRE-NOSALTRES</h2>
<section>
    <app-info-persona name="Andrés Martín - Desarrollador Web y UX/UI Designer"
        description="Andrés lidera el desarrollo y diseño de nuestra plataforma en línea, asegurando una experiencia de usuario intuitiva y atractiva. Con habilidades en desarrollo web y diseño de interfaz de usuario, crea soluciones innovadoras que mejoran la navegación y la funcionalidad. En su tiempo libre, disfruta de la pintura y la jardinería como formas de expresión creativa."
        urlImage="../assets/img-developer-proyecto.png"></app-info-persona>
    <app-info-persona name="Javier García - Analista de Datos y Business Intelligence"
        description="Javier aprovecha los datos para impulsar decisiones comerciales informadas. Con experiencia en análisis de datos y business intelligence, identifica tendencias, patrones y oportunidades para optimizar nuestros operaciones y estrategias de ventas."
        urlImage="../assets/img-developer-proyecto.png"></app-info-persona>
    <app-info-persona name="Laura Sánchez - Especialista en Logística y Gestión de Inventarios"
        description="Laura gestiona eficientemente nuestra cadena de suministro y almacén, garantizando entregas rápidas y precisas. Con experiencia en logística y gestión de inventarios, optimiza nuestros procesos para minimizar costos y maximizar la eficiencia operativa. Apasionada por el senderismo y la vida al aire libre, encuentra equilibrio en la naturaleza."
        urlImage="../assets/img-developer-proyecto.png"></app-info-persona>
        <app-info-persona name="Carla Martínez - Especialista en Marketing Digital y Redes Sociales"
        description="Carla impulsa nuestra presencia en línea y el compromiso del cliente a través de estrategias de marketing digital y gestión de redes sociales. Con un historial en la industria del comercio electrónico, sabe cómo llegar a nuestra audiencia y generar conversiones. Apasionado por los viajes y la fotografía, encuentra inspiración en explorar nuevos lugares y culturas."
        urlImage="../assets/img-developer-proyecto.png"></app-info-persona>
    <app-info-persona name="María Rodríguez - Desarrollador Web y UX/UI Designer"
        description="María ayuda al desarrollo y diseño de nuestra plataforma en línea, asegurando una experiencia de usuario intuitiva y atractiva. Con habilidades en desarrollo web y diseño de interfaz de usuario, crea soluciones innovadoras que mejoran la navegación y la funcionalidad."
        urlImage="../assets/img-developer-proyecto.png"></app-info-persona>
    <app-info-persona name="Elena Rodríguez - Especialista en Experiencia del Cliente"
        description="Elena se encarga de garantizar una experiencia del cliente excepcional en cada interacción. Con un enfoque en la satisfacción del cliente y la resolución de problemas, cultiva relaciones sólidas y fieles a nuestra base de clientes. Amante de los animales y el voluntariado, dedica su tiempo libre a causas benéficas relacionadas con los derechos de los animales."
        urlImage="../assets/img-developer-proyecto.png"></app-info-persona>
</section>
<section class="description">
    <h2>SOBRE INSANO COMPUTER</h2>
    <p>Insano Computer és una botiga en línia especialitzada en tecnologia, oferint una àmplia gamma de productes de
        qualitat i un servei al client excepcional. La nostra missió és millorar constantment l'experiència de compra en
        línia amb solucions innovadores i una atenció personalitzada.</p>
</section>