<section>
    <app-info-persona name="Andrés Martín"
        description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur atque unde cum id mollitia hic debitis, tempore provident ea saepe!"
        urlImage="../assets/img-developer-proyecto.png"></app-info-persona>
    <app-info-persona name="Javier García"
        description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur atque unde cum id mollitia hic debitis, tempore provident ea saepe!"
        urlImage="../assets/img-developer-proyecto.png"></app-info-persona>
    <app-info-persona name="Laura Sánchez"
        description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur atque unde cum id mollitia hic debitis, tempore provident ea saepe!"
        urlImage="../assets/img-developer-proyecto.png"></app-info-persona>
    <app-info-persona name="Carla Martinez"
        description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur atque unde cum id mollitia hic debitis, tempore provident ea saepe!"
        urlImage="../assets/img-developer-proyecto.png"></app-info-persona>
</section>